/* @charset "UTF-8";

body{
  background-color: white;
  border: solid 0.5px black;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
}

.wrapper{
  background-color: silver;
  height: 50px;
  border: solid 1px black;
  padding-bottom: 5px;
}

.contents1 {
	margin: 10px;
	display: inline-block;
  padding: 10px;
}

#entry{
  display: none;
}

#result{
  display: none;
}

.contents2 h1{
  width: 80%;
  height: auto;
  border: solid 1px #black;
  background-color: #ADD8E6;
  margin-left: 20px;
  padding-left: 5px;
}

.contents2 p {
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
}

.btn{
  float: right;
  margin-right: 50%;
}

.btn-flat-border {
  display: inline-block;
  padding: 2px 30px;
  text-decoration: none;
  background-color: white;
  border: solid 1px black;
  transition: .4s;
  margin: 10px 10px;
}

.btn-flat-border:hover {
  background: silver;
}

#code, #name, #maker, #price{
  margin-left: 10px;
}

#entry .btn-flat-border{
  display: inline-block;
}

#update, #delete{
  float: left;
  margin-left: 20px;
}

#stop{
  margin-left: 400px;
}
 */
table.basic {
	counter-reset: number;
}
tbody th:before {
   counter-increment: number;
   content: counter(number);
}

table{
  border-collapse: collapse;
  border:1px solid #333;
  margin: 20px;
}

td, th{
  border:1px solid #333;
  padding: 3px 7px;
  text-align: center;
  background-color: #FFE4B5;
}